ul {
  text-align: center;
  list-style:none;
  display:inline;
}

.headerLinks {
  font-size: 12px;
}

.footerLinks {
  font-size: 8px;
}

p {
  color: #003366;
}

body {
  background-color: #B1BDCD;
}
